*{
  font-family: 'Autour One', sans-serif;
}

/* profile specific */
.badges{
  display:flex;
  flex-direction:column;
}

.badge_container{
  background-color:white;
  padding: 20px;

}

.profile_row{
  display:flex;
  flex-direction:row;
  margin-bottom:20px;

}

.userInfo{
  margin-bottom:20px;
  font-size:20px;
  font-weight:bold;
  margin-top:20px;
}
.profile_row span{

  margin-left:20px;

}

.flex-container{
  margin-left:30px;
  margin-bottom:20px;
}
/* profile specific end */

h1,h2, h3, label, .submitButton, .ButtonHolder{
  text-align:center;
}

label{
  font-size: 20px;
  margin-bottom: 10px;
}

html{
  display:flex;
  justify-content:center;
}

.ComicHome img{
max-width:100%;
margin-bottom: 10px;


}

#TextHolder{
  width:100%;
  height:200px;
  margin-bottom: 10px;

}

#TextHolder {
	width:500px;
	background-color:#FFF;
	color:#222;
	font-family:Courier, monospace;
	font-weight:normal;
	font-size:24px;
	resize:none;
	line-height:40px;
	background-image:url(./images/line_image_blue_2.png), url(https://static.tumblr.com/maopbtg/nBUmgtogx/paper.png);
	background-repeat:repeat-y, repeat;
	-webkit-border-radius:12px;
	border-radius:12px;
	-webkit-box-shadow: 0px 2px 14px #000;
	box-shadow: 0px 2px 14px #000;
	border-top:1px solid #FFF;
	border-bottom:1px solid #FFF;
}

/*sign up and sign in specific*/


.wrapper {
  background-color: whitesmoke;
  list-style-type: none;
  padding: 0;
  border-radius: 10%;
  padding-bottom: 10px;
  box-shadow: 10px 10px 8px #888888;

}
.form-row {
  display: flex;
  justify-content: flex-end;
  padding: .5em;
}
.form-row > label {
  padding: .5em 1em .5em 0;
  flex: 1;
}

.form-row > input {
  flex: 2;
}
.form-row > input,
.form-row > button {
  padding: .5em;
}
.form-row > button {
 background: gray;
 color: white;
 border: 0;
}

/*sign up and sign in specific end*/



/* Index specific */

.signup_Button, .login_Button, .create_Account_Button {
	-moz-box-shadow: 3px 4px 0px 0px #8a2a21;
	-webkit-box-shadow: 3px 4px 0px 0px #8a2a21;
	box-shadow: 3px 4px 0px 0px #8a2a21;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
	background:-moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437',GradientType=0);
	background-color:#c62d1f;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.signup_Button:hover, .login_Button:hover, .create_Account_Button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f',GradientType=0);
	background-color:#f24437;
}
.myButton:active {
	position:relative;
	top:1px;
}

.index_border{
  border: 1px solid black;
  border-radius: 25px;

}

/* Index specific end */


/* previouspost specific */

.test{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: space-between;
  margin:10px;
  font-size: 12px;
}

.listHolder{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: space-between;
  margin:10px;
}


.listHolder img{
  height:300px;
  width:300px;
  object-fit:cover;
  border: 5px black solid;

}

hidden{
  display:none;
}


/*Buttons*/

/* background-color:blue; */

  .previousPost, .nextPost, .deletePost,.listView,.submitButton {
  color: #494949 !important;
  text-transform: uppercase;
  background: #ffffff;
  /* padding: 20px; */
  border: 4px solid #494949 !important;
  border-radius: 6px;
  display: inline-block;
  height:100px;
  width: 100px;
  margin-bottom: 10px;

}

.updatePost, .editPost{
  color: #494949 !important;
  text-transform: uppercase;
  background: #ffffff;
  padding: 20px;
  border: 4px solid #494949 !important;
  border-radius: 6px;
  height:100px;
  width: 100px;
}

.previousPost:hover, .nextPost:hover, .editPost:hover, .deletePost:hover,.updatePost:hover ,.listView:hover, .submitButton:hover {
  color: #ffffff !important;
  background: #f6b93b;
  border-color: #f6b93b !important;
  transition: all 0.4s ease 0s;
  cursor:pointer;
}

/*End Buttons*/

.test img{
  cursor: pointer;
}

.test img:hover{
  outline: 5px solid #f6b93b;
}

/* previouspost specific end */

header{
    text-align:center;
    color: #0B444C;
}

header h1{
  color: white;
  background-color: #006675;
  margin-right:70px;

}

.dropdown{
    float:right;
}


body{
    background-color: lightblue;
    height: 100%;
    text-align: center;
}


label{
    display:block;
}

fieldset{
    display:inline-block;
}

.previousPost{
    display:inline-block;
}

/* Drop down stuff *************************************************/
/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #006675;
    font-family: Arial;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px; 
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #f6b93b;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /*Media Queries*/

  @media only screen and (max-width:645px){

    h2, h3, label, .submitButton, .ButtonHolder{
      max-width:350px;
      text-align:center;
    }
    html{
      display:flex;
      justify-content:center;
    }
    
    .ComicHome img{
      max-width:350px;
      margin-bottom: 10px;

    }
    
    #TextHolder{
      max-width:350px;
      width:100%;
      height:200px;
      margin-bottom: 10px;

    }

    label{
      font-size: 20px;
      margin-bottom: 10px;
    }
    


  }

  @media only screen and (max-width:325px){

    h2, h3, label, .submitButton, .ButtonHolder{
      max-width:250px;
      text-align:center;
    }
    html{
      display:flex;
      justify-content:center;
    }
    
    .ComicHome img{
      max-width:250px;
      margin-bottom: 10px;

    }
    
    #TextHolder{
      max-width:250px;
      width:100%;
      height:200px;
      margin-bottom: 10px;

    }

    label{
      font-size: 20px;
      margin-bottom: 10px;
    }
    
    h1{
      font-size:25px;
    }


  }

  