
header{
    text-align:center;
}

.previewHolder{
    background-color: gray;
    height: 600px;
    text-align: center;
}

#previewTextHolder{
    height:300px;
    width: 500px;
}

label{
    display:block;
}

fieldset{
    display:inline-block;
}